@model ZFCTAPI.Data.BoHai.ReturnModels.RBHAutoInvestAuthWebBody

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoInvestAuthWebBody </title>
</head>
<body onload="document.AutoInvestAuthWeb.submit()">
<form name="AutoInvestAuthWeb" method="post" action="http://221.239.93.141:9080/bhdep/hipos/payTransaction" accept-charset="GBK">
    <input name="char_set" type="hidden" value="@(Model.char_set)">
    <input name="partner_id" type="hidden" value="@(Model.partner_id)">
    <input name="version_no" type="hidden" value="@(Model.version_no)">
    <input name="biz_type" type="hidden" value="@(Model.biz_type)">
    <input name="sign_type" type="hidden" value="@(Model.sign_type)">
    <input name="MerBillNo" type="hidden" value="@(Model.MerBillNo)">
    <input name="PlaCustId" type="hidden" value="@(Model.PlaCustId)">
    <input name="TxnTyp" type="hidden" value="@(Model.TxnTyp)">
    <input name="PageReturnUrl" type="hidden" value="@(Model.PageReturnUrl)">
    <input name="BgRetUrl" type="hidden" value="@(Model.BgRetUrl)">
    <input name="TransTyp" type="hidden" value="@(Model.TransTyp)">
    <input name="MerPriv" type="hidden" value="@(Model.MerPriv)">
    <input name="mac" type="hidden" value="@(Model.mac)">
</form>
</body>
</html>